/* your code here */
div a{
text-decoration: none;
}
.link-boxes{
	display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
}
h3{
    /* text-decoration: underline; */
    text-decoration-line: 4px;
}
.card{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bottom-details{
	 background-color:#2C303A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div p {
    background-color:#2C303A;
    margin: 20px;
}
a{
    color: #A6A6A6;
}
span{
	margin: 40px 20px 20px 20px;
}